.icon {
  font-size: 1.5rem;
  color: orange;
}
/* .container p {
  font-size: 1.2rem;
  margin: 0;
  padding-left: 1rem;
} */
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}
p.total-reviews-count {
  font-size: 1.2rem;
  margin-top: 12px;
  margin-left: 16px;
}
p.p-user-name {
  margin-left: 12px;
  margin-top: 8px;
}
