/* .search-one .form-box {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
} */

input#\:r0\: {
	font-weight: 600;
}
.row .clearfix .field-inner input[type="date" i]:focus {
	border-color: #ffa185 !important;
	outline: 0;
}

.search-one .site-form form input:focus {
	border-color: #ffa185 !important;
	outline: 0;
}
.search-one .site-form form input {
	outline: 0;
}
.search-one .site-form form input:hover {
	outline: 0;
}
.datePick:focus {
	border-color: #ffa185 !important;
	outline: 0;
}
div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.datePick.css-wb57ya-MuiFormControl-root-MuiTextField-root:focus {
	border-color: #ffa185 !important;
	outline: none;
}
