.span-loader-size {
	width: 50px;
	height: 50px;
	margin-bottom: 6px;
}

.span-bookmark {
	margin-left: 30%;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	padding-top: 4px;
	/* border: 1px solid #424853; */
	cursor: pointer;
}
