@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

h2 {
	font-family: "Gilroy-Medium", sans-serif;
	letter-spacing: 0.1rem;
}
p {
	font-family: "Open Sans", sans-serif;
}
.booking-head {
	color: #2a324b;
}
.btn-back {
	padding: 16px 24px;
	outline: 1px solid #ff531f;
	color: #ff531f;
}
.btn-outline-secondary.btn-back:hover {
	color: white;
	background-color: #ff531f;
}
.payment-btn {
	/* padding: 16px 24px; */
	background: #ff531f;
	color: white;
}
.payment-btn:hover {
	background: #f54d1a;
	color: white;
}

.back-arrow {
	margin: 0 4px 2px 0;
	color: #ff531f;
}
.p-headline {
	font-weight: 600;
}
.p-headline-details,
.p-headline-cost {
	font-weight: 700;
	color: rgb(52, 71, 103);
}

.p-text {
	font-weight: lighter;
}
.p-pay {
	font-size: 1.3rem;
	font-weight: 700;
}
.booking-card {
	width: 85%;
}
