.dropdown-toggle::after,
.dropdown-toggle::before {
	margin-right: 4px;
	margin-left: 0;
	content: ""; /* This will hide the arrow button */
	opacity: 0; /* This will make the arrow transparent */
}
.main-menu .navigation > li:hover > a:after,
.main-menu .navigation > li.current > a:after,
.main-menu .navigation > li.current-menu-item > a:after {
	opacity: 1;
	visibility: visible;
	width: 40px;
}
ul.dropdown-menu.show {
	padding: 1rem;
	/* inset: 8px 0 0 8px !important; */
	left: 3px !important;
	top: 4px !important;
	min-width: 144px;
	height: 100px;
}
ul.dropdown-menu.show .dropdown-item a {
	padding: 12px 8px 8px 8px;
	width: 160px !important;
	height: 10px !important;
}
